@main-bg-color: @color-alt-light;
@page-width: 1024px;
@std-padding: 20px;
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 799px)";

// Clean and Energetic colors

@color-twitter-dark:#005fd1;
@color-twitter-light: #71c9f8;
@color-alt-medium: #5AB9EA;
@color-alt-light: #C1C8E4;
@color-alt-dark: #8860D0;
